In [6]:
#upgrade sklearn to prevent mismatches 
!pip install sklearn -- upgrade

Requirement already satisfied: sklearn in c:\users\katharinehollars\anaconda3\lib\site-packages (0.0)

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/upgrade/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/upgrade/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))': /simple/upgrade/
ERROR: Could not find a version that satisfies the requirement upgrade
ERROR: No matching distribution found for upgrade

In [7]:
#install joblib (to be used to save model)
#restart kernal after installing joblib
!pip install joblib

Requirement already satisfied: joblib in c:\users\katharinehollars\anaconda3\lib\site-packages (1.0.1)

In [8]:
#import dependencies
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('clean__filtered_loans.csv')
df.head(20)

,Unnamed: 0,id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,dti,earliest_cr_line,fico_range_low,fico_range_high,application_type,hardship_flag,pub_rec_bankruptcies,tax_liens,disbursement_method,debt_settlement_flag
0,0,68407277,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,...,5.91,Aug-2003,675.0,679.0,Individual,N,0.0,0.0,Cash,N
1,1,68355089,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,...,16.06,Dec-1999,715.0,719.0,Individual,N,0.0,0.0,Cash,N
2,2,68341763,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,...,10.78,Aug-2000,695.0,699.0,Joint App,N,0.0,0.0,Cash,N
3,4,68476807,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,...,25.37,Jun-1998,695.0,699.0,Individual,N,0.0,0.0,Cash,N
4,5,68426831,11950.0,36 months,13.44,405.18,C,C3,Veterinary Tecnician,4 years,...,10.20,Oct-1987,690.0,694.0,Individual,N,0.0,0.0,Cash,N
5,6,68476668,20000.0,36 months,9.17,637.58,B,B2,Vice President of Recruiting Operations,10+ years,...,14.67,Jun-1990,680.0,684.0,Individual,N,0.0,0.0,Cash,N
6,7,67275481,20000.0,36 months,8.49,631.26,B,B1,road driver,10+ years,...,17.61,Feb-1999,705.0,709.0,Individual,N,0.0,0.0,Cash,N
7,8,68466926,10000.0,36 months,6.49,306.45,A,A2,SERVICE MANAGER,6 years,...,13.07,Apr-2002,685.0,689.0,Individual,N,1.0,0.0,Cash,N
8,9,68616873,8000.0,36 months,11.48,263.74,B,B5,Vendor liaison,10+ years,...,34.80,Nov-1994,700.0,704.0,Individual,N,0.0,0.0,Cash,N
9,12,68338832,1400.0,36 months,12.88,47.10,C,C2,Logistics Manager,3 years,...,34.95,Jun-1996,700.0,704.0,Individual,N,0.0,0.0,Cash,N
10,13,66624733,18000.0,60 months,19.48,471.70,E,E2,Software Manager,7 years,...,9.39,Jun-2005,665.0,669.0,Individual,N,1.0,0.0,Cash,N
11,14,68466961,28000.0,36 months,6.49,858.05,A,A2,Senior Manager,10+ years,...,21.60,May-1984,720.0,724.0,Individual,N,0.0,0.0,Cash,N
12,15,68354783,9600.0,36 months,7.49,298.58,A,A4,tech,8 years,...,22.44,Jun-1996,695.0,699.0,Individual,N,0.0,0.0,Cash,N
13,16,68466916,25000.0,36 months,7.49,777.55,A,A4,Sales Manager,10+ years,...,26.02,Dec-2001,745.0,749.0,Individual,N,0.0,0.0,Cash,N
14,17,68577849,18000.0,60 months,11.99,400.31,C,C1,GS-11,10+ years,...,8.68,Nov-1993,800.0,804.0,Individual,N,0.0,0.0,Cash,N
15,19,68495092,8650.0,36 months,19.89,320.99,E,E3,Program Coordinator,8 years,...,25.49,Mar-2005,675.0,679.0,Individual,N,1.0,0.0,Cash,N
16,20,68566886,29900.0,60 months,12.88,678.49,C,C2,Corporate Insurance,10+ years,...,21.77,May-2004,715.0,719.0,Individual,N,0.0,0.0,Cash,N
17,21,68009401,16000.0,60 months,14.85,379.39,C,C5,Bookkeeper/Accounting,10+ years,...,33.18,Jun-1991,685.0,689.0,Individual,N,0.0,2.0,Cash,N
18,22,68476702,28000.0,36 months,13.44,949.38,C,C3,Director of Product Development,2 years,...,7.49,May-2000,695.0,699.0,Individual,N,0.0,0.0,Cash,N
19,23,68436666,5000.0,36 months,13.44,169.54,C,C3,General Manager,2 years,...,12.70,Oct-2011,665.0,669.0,Individual,N,0.0,0.0,Cash,N

# Create Train Test Split

In [11]:
#set features: these are going to be the x values
selected_features = df.drop(['grade'], axis = 1)
selected_features

,Unnamed: 0,id,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,...,dti,earliest_cr_line,fico_range_low,fico_range_high,application_type,hardship_flag,pub_rec_bankruptcies,tax_liens,disbursement_method,debt_settlement_flag
0,0,68407277,3600.0,36 months,13.99,123.03,C4,leadman,10+ years,MORTGAGE,...,5.91,Aug-2003,675.0,679.0,Individual,N,0.0,0.0,Cash,N
1,1,68355089,24700.0,36 months,11.99,820.28,C1,Engineer,10+ years,MORTGAGE,...,16.06,Dec-1999,715.0,719.0,Individual,N,0.0,0.0,Cash,N
2,2,68341763,20000.0,60 months,10.78,432.66,B4,truck driver,10+ years,MORTGAGE,...,10.78,Aug-2000,695.0,699.0,Joint App,N,0.0,0.0,Cash,N
3,4,68476807,10400.0,60 months,22.45,289.91,F1,Contract Specialist,3 years,MORTGAGE,...,25.37,Jun-1998,695.0,699.0,Individual,N,0.0,0.0,Cash,N
4,5,68426831,11950.0,36 months,13.44,405.18,C3,Veterinary Tecnician,4 years,RENT,...,10.20,Oct-1987,690.0,694.0,Individual,N,0.0,0.0,Cash,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1345305,2260688,89905081,18000.0,60 months,9.49,377.95,B2,NaN,5 years,OWN,...,20.59,Jul-2004,735.0,739.0,Individual,N,0.0,0.0,Cash,N
1345306,2260690,88948836,29400.0,60 months,13.99,683.94,C3,Chief Operating Officer,9 years,MORTGAGE,...,22.03,Mar-2002,705.0,709.0,Individual,N,0.0,0.0,Cash,N
1345307,2260691,89996426,32000.0,60 months,14.49,752.74,C4,Sales Manager,3 years,MORTGAGE,...,10.34,Jun-2011,735.0,739.0,Individual,N,0.0,0.0,Cash,N
1345308,2260692,90006534,16000.0,60 months,12.79,362.34,C1,Manager,10+ years,RENT,...,12.25,Aug-1997,665.0,669.0,Individual,N,3.0,0.0,Cash,N
1345309,2260697,88224441,24000.0,60 months,14.49,564.56,C4,Program Manager,6 years,RENT,...,18.30,Jul-1999,660.0,664.0,Individual,N,1.0,0.0,Cash,Y

In [12]:
#create train test split using grade for y variables
y = df["grade"]
x = selected_features
print(x.shape, y.shape)

(1345310, 27) (1345310,)

In [14]:
!pip install --upgrade tensorflow

Collecting tensorflow

WARNING: Error parsing requirements for importlib-metadata: [Errno 2] No such file or directory: 'c:\\users\\katharinehollars\\anaconda3\\lib\\site-packages\\importlib_metadata-3.10.0.dist-info\\METADATA'

  Downloading tensorflow-2.7.0-cp38-cp38-win_amd64.whl (430.8 MB)
Collecting flatbuffers<3.0,>=1.12
  Using cached flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Collecting opt-einsum>=2.3.2
  Using cached opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting gast<0.5.0,>=0.2.1
  Using cached gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting tensorboard~=2.6
  Using cached tensorboard-2.7.0-py3-none-any.whl (5.8 MB)
Collecting protobuf>=3.9.2
  Using cached protobuf-3.19.1-cp38-cp38-win_amd64.whl (895 kB)
Collecting keras-preprocessing>=1.1.1
  Using cached Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting tensorflow-io-gcs-filesystem>=0.21.0
  Using cached tensorflow_io_gcs_filesystem-0.22.0-cp38-cp38-win_amd64.whl (1.5 MB)
Requirement already satisfied: wheel<1.0,>=0.32.0 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorflow) (0.36.2)
Requirement already satisfied: six>=1.12.0 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorflow) (1.15.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Collecting termcolor>=1.1.0
  Using cached termcolor-1.1.0-py3-none-any.whl
Collecting tensorflow-estimator<2.8,~=2.7.0rc0
  Using cached tensorflow_estimator-2.7.0-py2.py3-none-any.whl (463 kB)
Collecting libclang>=9.0.1
  Using cached libclang-12.0.0-py2.py3-none-win_amd64.whl (13.1 MB)
Collecting absl-py>=0.4.0
  Using cached absl_py-1.0.0-py3-none-any.whl (126 kB)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: numpy>=1.14.5 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorflow) (1.20.1)
Collecting keras<2.8,>=2.7.0rc0
  Using cached keras-2.7.0-py2.py3-none-any.whl (1.3 MB)
Collecting grpcio<2.0,>=1.24.3
  Using cached grpcio-1.42.0-cp38-cp38-win_amd64.whl (3.3 MB)
Collecting astunparse>=1.6.0
  Using cached astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting google-pasta>=0.1.1
  Using cached google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.25.1)
Collecting google-auth<3,>=1.6.3
  Using cached google_auth-2.3.3-py2.py3-none-any.whl (155 kB)
Collecting markdown>=2.6.8
  Using cached Markdown-3.3.6-py3-none-any.whl (97 kB)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\katharinehollars\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (52.0.0.post20210125)
Collecting tensorboard-plugin-wit>=1.6.0
  Using cached tensorboard_plugin_wit-1.8.0-py3-none-any.whl (781 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Using cached google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Using cached tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting pyasn1-modules>=0.2.1
  Using cached pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting rsa<5,>=3.1.4
  Using cached rsa-4.8-py3-none-any.whl (39 kB)
Collecting cachetools<5.0,>=2.0.0
  Using cached cachetools-4.2.4-py3-none-any.whl (10 kB)
Collecting requests-oauthlib>=0.7.0
  Using cached requests_oauthlib-1.3.0-py2.py3-none-any.whl (23 kB)
Collecting importlib-metadata>=4.4
  Using cached importlib_metadata-4.8.2-py3-none-any.whl (17 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\katharinehollars\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard~=2.6->tensorflow) (3.4.1)
Collecting pyasn1<0.5.0,>=0.4.6
  Using cached pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\katharinehollars\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\katharinehollars\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\katharinehollars\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\katharinehollars\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (4.0.0)
Collecting oauthlib>=3.0.0
  Using cached oauthlib-3.1.1-py2.py3-none-any.whl (146 kB)
Installing collected packages: pyasn1, rsa, pyasn1-modules, oauthlib, cachetools, requests-oauthlib, importlib-metadata, google-auth, tensorboard-plugin-wit, tensorboard-data-server, protobuf, markdown, grpcio, google-auth-oauthlib, absl-py, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard, opt-einsum, libclang, keras-preprocessing, keras, google-pasta, gast, flatbuffers, astunparse, tensorflow
  Attempting uninstall: importlib-metadata
    Found existing installation: importlib-metadata 3.10.0
    Can't uninstall 'importlib-metadata'. No files were found to uninstall.
Successfully installed absl-py-1.0.0 astunparse-1.6.3 cachetools-4.2.4 flatbuffers-2.0 gast-0.4.0 google-auth-2.3.3 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.42.0 importlib-metadata-4.8.2 keras-2.7.0 keras-preprocessing-1.1.2 libclang-12.0.0 markdown-3.3.6 oauthlib-3.1.1 opt-einsum-3.3.0 protobuf-3.19.1 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.0 rsa-4.8 tensorboard-2.7.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.0 tensorflow-2.7.0 tensorflow-estimator-2.7.0 tensorflow-io-gcs-filesystem-0.22.0 termcolor-1.1.0

In [15]:
#split data into training and testing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from tensorflow.keras.utils import to_categorical

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [16]:
x_train.head()

,Unnamed: 0,id,loan_amnt,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,...,dti,earliest_cr_line,fico_range_low,fico_range_high,application_type,hardship_flag,pub_rec_bankruptcies,tax_liens,disbursement_method,debt_settlement_flag
1040850,1787228,7680277,15000.0,60 months,24.50,435.89,F3,Credit Analyst II,5 years,MORTGAGE,...,30.91,Sep-2003,720.0,724.0,Individual,N,0.0,0.0,Cash,N
68740,78251,63450332,35000.0,36 months,15.41,1220.33,D1,Exercise Support,< 1 year,MORTGAGE,...,18.75,Nov-1999,665.0,669.0,Individual,N,0.0,0.0,Cash,N
857266,1315096,12697231,9375.0,36 months,19.99,348.37,E1,Manager,10+ years,OWN,...,19.63,Apr-2004,680.0,684.0,Individual,N,0.0,0.0,Cash,N
626763,1065838,70896581,12725.0,60 months,16.29,311.42,D1,Driver,10+ years,MORTGAGE,...,22.94,Jan-1996,690.0,694.0,Individual,N,0.0,0.0,Cash,N
903662,1514973,133507223,5000.0,36 months,10.07,161.51,B2,Wire Tech,7 years,RENT,...,22.59,Mar-1995,690.0,694.0,Individual,N,0.0,0.0,DirectPay,N

# PreProcessing

In [17]:
#scale the data
x_scaler = MinMaxScaler().fit(x_train)
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

#Step 1: Label encode data set 
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

#Step 2: Convert encoded labels to one encoding
y_train_categorical = to.categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

ValueError: could not convert string to float: ' 60 months'

# Train the Model

In [ ]:
from tensorflow.keras.model import Sequential
from tensorflow.keras.layers import Dense

#create model and layers 
model = Sequential()
model.add(Dense(units = 100, activation = 'relu', input_dim=40))
model.add(Dense(units = 100, activation = 'relu'))
model.add(Dense(units = 3, activation = 'softmax'))

In [ ]:
#compile the model
model.compile(optimizer = 'adam', 
             loss = 'categorical_crossentropy', 
             metrics = ['accuracy'])

In [ ]:
model.summary()

# Fit the Model

In [ ]:
model.fit(
    x_train_scaled, 
    y_train_categorical,
    epochs = 100, 
    shuffle = True, 
    verbose = 2
)

# Quantify the Model

In [ ]:
model_loss, model_accuracy = model.evaluate(x_test_scaled, y_test_categorical, verbose =2)
print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

# Predictions

In [ ]:
encoded_predictions = model.predict_classes(x_test_scaled[:5])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:5])}")

# Save the Model

In [ ]:
#Save the model
model.save("Loan_Grade_Deep_Learning.h5")

In [ ]:
!which python